.thumbnail {
    height: 175px;
}

.header {
    height: 120px;
    width: 100%;
    background-color: crimson;
    color: white;
    text-align: center;
    font-family: 'Bungee', monospace, cursive;
    margin-top: -30px;
    border-left: 8px solid lightgray;
    border-bottom: 6px solid lightgray;
}

body {
    font-family: 'Inconsolata', monospace;
    height: 100vh;
    font-size: 22px;
    background-image: url("http://mario5.florian-rappl.de/Content/backgrounds/01.png");
    
    
}

#title {
    padding-top: 50px;
    font-size: 48px;
    padding-bottom: 50px;
}

.baddie {
    display: inline-block;
    /* margin: 20px; */
    width: 33%;
    margin: -2px;
    text-align: center;

}

#baddie-wrapper {
    margin: auto;
    position: relative;

}
#footer {
    height: 75px;
    width: 100%;
    background-color: crimson;
    color: white;
    text-align: center;
    border-top: 5px solid lightgray;
    border-left: 6px solid lightgray;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: -50 !important;
    

}

input {
    height: 35px; 
    width: 35px; 
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.label {
    display: inline-block;
}

button {
    height: 40px;
    border-radius: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    background-color: whitesmoke;
    color: black;

}

#total {
    text-align: center;
}
