* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 auto;
    color:rgb(46, 85, 85);
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6 auto);
    grid-template-areas: 
    ""
}

#header-img {
    height: 310px;
    min-width: 610px;
    background-image: url(./images/gridlines.png), url(./images/contours.png), url(./images/huntington.jpg);   
    background-position:  0 -25px;
    background-size: auto, auto, cover;
    border-top: 7px solid rgba(15, 58, 59, 0.692);
    background-attachment: scroll, scroll, fixed;
    /* position: fixed; */
    
}

#header-img::before {
    height: 7px;
    width: 110%;
    background-color: rgba(16, 57, 58, 0.699);
    margin-left: -2px;
    border-bottom: 4px solid rgba(186, 247, 241, 0.089);
    /* border-top:  */
    /* margin-top: -15px; */
}

/* Header Logo */
h1::before {
    content: "";
    display: inline-block;
    width: 125px;
    height: 125px;
    background: url(./images/enso.svg);
    background-size: 100%;
    position: relative;
    top: 70px;  
    margin-right: 30px;
    margin-left: 130px;
}

/* Blank space for alignment */
h2::before {
    content: "";
    width: 125px;
    height: 125px;
    margin-left: 283px;
}

#page-title {
    text-align: center;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase; 
    color: white;
    font-size: 48px;
}

h2 {
    color: #91b4af;
    font-style: italic;
    font-size: 24px;  
    letter-spacing: -1px;
}

button {
    margin: 30% auto;
    /* height: 75px; */
    /* width: 250px; */
    background-color: rgba(229, 237, 232, 0.185);
    border: transparent;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    padding: 20px;
    color: #91b4af;
}

#intro a {
    color: rgb(137, 177, 137);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
}

#intro, #benefits, #requirements {
    width: 66%;
    padding: 30px 0 30px 10%;
    /* display: inline-block; */
    float: left;
    position: relative;
}

p {
    line-height: 2;
    width: 90%;
    /* margin: 0 auto; */
}

/* #resources, #designs {
    float: right;
    background-color: #e5ede8;
    width: 33%;
    height: 100%; */
    
    /* margin-left: -200px; */
}

#resources, #designs, h3 {
    padding-left: 20px;
}

#designs {
    height: 2694px;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 0;
    text-transform: uppercase;
}

#benefits {
    background-image: url(./images/gridlines.png), url(./images/contours.png), url(./images/bamboo.png);
    background-color: rgba(198, 223, 208, 0.527); 
    background-attachment: scroll, scroll, fixed;
    background-size: auto, auto, cover;   
}

#footer-img {
    background-image: url(./images/gridlines.png), url(./images/contours.png), url(./images/koi.jpg);
    background-size: auto, auto, cover;
    height: 320px;
    
}
#footer{
    content: " ";
    height: 176px;
    width: 100%;
    background-color: rgb(19, 67, 71);
    background-size: 100%;
    
}
.container-fluid {
    width: 1440px;
}

.design-name {
    font-family: 'Julius Sans One', sans-serif;
    /* padding: 10px 0; */
    display: block;
    text-align: left;
    font-size: 20px;
    font-style: normal; 
    padding-top: 5px;
}

.designer-name {
    font-style: normal;
}

ul {
    width: 70%;
    list-style-type: none;
    /* padding-left: 20px; */
    line-height: 1.5;
    margin-left: 20px;
}
li {
    padding-bottom: 20px;
    border-bottom: 1px solid slategray; 
}

li, a {
    font-style: italic;
    color: #607476; 
}

.nav-wrapper {
    height: 100%;
    width: 33%;
    float: right;
}
